.bgBlock{

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ef3737+0,fefcea+7,fefcea+93,ea3535+100 */
    background: rgb(239,55,55); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(239,55,55,1) 0%, rgba(254,252,234,1) 7%, rgba(254,252,234,1) 93%, rgba(234,53,53,1) 100%); /* FF3.6-15 */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,55,55,1)), color-stop(7%,rgba(254,252,234,1)), color-stop(93%,rgba(254,252,234,1)), color-stop(100%,rgba(234,53,53,1))); /* Chrome4-9,Safari4-5 */
    background: -webkit-linear-gradient(top, rgba(239,55,55,1) 0%,rgba(254,252,234,1) 7%,rgba(254,252,234,1) 93%,rgba(234,53,53,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(top, rgba(239,55,55,1) 0%,rgba(254,252,234,1) 7%,rgba(254,252,234,1) 93%,rgba(234,53,53,1) 100%); /* Opera 11.10-11.50 */
    background: -ms-linear-gradient(top, rgba(239,55,55,1) 0%,rgba(254,252,234,1) 7%,rgba(254,252,234,1) 93%,rgba(234,53,53,1) 100%); /* IE10 preview */
    background: linear-gradient(to bottom, rgba(239,55,55,1) 0%,rgba(254,252,234,1) 7%,rgba(254,252,234,1) 93%,rgba(234,53,53,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef3737', endColorstr='#ea3535',GradientType=0 ); /* IE6-9 */

}